@import "../libs/vars";
@import "../libs/mixins";


::-webkit-input-placeholder {
  color: #909090;
}

:-moz-placeholder {
  color: #909090;
}

::-moz-placeholder {
  color: #909090;
}

:-ms-input-placeholder {
  color: #909090;
}

.input{
  color: inherit;
}